* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

.container {
  width: 1140px;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 30px;
}

.subheader {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 84px;
}

.subheader_logo {
  display: block;
  margin-top: 20px;
  max-width: 100%;
}

.subheader_official {
  margin-top: 6px;
  font-weight: 200;
  font-size: 13px;
  color: #ffffff;
}

.subheader_call {
  text-align: right;
  font-weight: 300;
  margin-top: 19px;
  font-size: 12px;
  color: #ffffff;
}

.subheader_phone {
  margin-top: 8px;
  display: block;
  font-weight: 400;
  text-align: right;
  font-size: 22px;
  line-height: 13px;
  color: #ffffff;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/uber_bg.png");
  padding: 150px 0 135px 0;
}

.promo_header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.promo_subheader {
  margin-top: 22px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo_descr {
  margin-top: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #ffffff;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 172px;
  height: 46px;
  border: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.benefits {
  min-height: 900px;
  max-width: 1920px;
  padding: 70px 0 66px 0;
  background-color: #ffffff;
}

.benefits_icon {
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  padding: 26px;
  margin: 50px 35px 26px 13px;
  border-radius: 50%;
  width: 113px;
  height: 113px;
}

.benefits_descr {
  margin-top: 39px;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits span {
  font-weight: 400;
  color: #1eacc7;
}

.lable {
  margin: 0 auto;
  width: 112px;
  height: 24px;
  text-align: center;
  font-weight: 300;
  font-size: 11px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 7px 12px;
  text-align: center;
}

.lable_black {
  background-color: white;
  color: #000;
}

.title {
  margin-top: 36px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
}

.title_black {
  color: white;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #222222;
}

.subtitle_black {
  color: #FFFFFF;
}

.mobile {
  min-height: 864px;
  max-width: 1920px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mobile_item_plus {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29px;
  height: 29px;
  background-color: #000000;
  border-radius: 100%;
  border: 0.5px solid #4ce2ff;
  margin: 0 auto;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #4ce2ff;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobile_item_plus::after {
  position: absolute;
  left: 47%;
  content: '';
  display: block;
  height: 14px;
  width: 2px;
  background-color: #4ce2ff;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  background-color: #eb0c0c;
}

.mobile_item_1 {
  background: url("../img/Card_1.png") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/Card_2.png") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/Card_3.png") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/Card_4.png") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/Card_5.png") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/Card_6.png") center center/cover no-repeat;
}

.choice {
  position: relative;
  min-height: 890px;
  max-width: 1920px;
  padding: 56px 0 140px 0;
}

.choice_bg {
  display: block;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -56px;
}

.choice_auto {
  display: block;
  margin: 54px auto 0;
  width: 760px;
  height: 480px;
}

.choice_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.require {
  padding: 68px 0 84px 0;
}

.require_block {
  margin-top: 33px;
  margin-bottom: 33px;
}

.require_block_nmb {
  margin-bottom: 0px;
}

.require_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

.require_list {
  list-style: none;
  padding-left: 50px;
  margin-top: 22px;
}

.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.require_list li::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-30px, 1px);
          transform: translate(-30px, 1px);
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.svg") center center/cover no-repeat;
}

.require .warning .require_title {
  color: #ff5656;
}

.require .warning .require_list li::before {
  background: url("../icons/check_red.svg") center center/cover no-repeat;
}

.world {
  position: relative;
  min-height: 720px;
  max-width: 1920px;
  background: url("../img/world_bg.png") center center/cover no-repeat;
  padding: 46px 0 50px 0;
}

.world_descr {
  margin: 500px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  color: #1FBAD6;
}

.footer {
  min-height: 155px;
}

.footer_wrapper {
  background-color: #1FBAD6;
  width: 300px;
  height: 7px;
  margin: 14px auto 0;
}

.footer_nav {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.footer .subnav {
  font-weight: 300;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #070716;
  cursor: pointer;
}

.footer_subrow {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.footer .footer_subrow_col {
  font-weight: 300;
  font-size: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
  text-transform: uppercase;
  color: #999999;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */